.link {
    text-decoration: none;
    color: #b3d7ff;
    margin: 10px;
}

.link:hover {
    color: #7187ff;
}
.active {
    color: #335eff;
}

.block {
    width: 25px;
    height: 25px;
    margin: 10px;
    background: #ff5c5c;
    border-radius: 50%;
}

.header {
    display: inline-flex;
    width: 280px;
    transition-duration: 500ms;
    transform: translate(-230px);
}

.header:hover {
    transition-duration: 800ms;
    transform:  translate(0);
}